<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="main"></div>
    <script src="js/bundle.js" type="application/javascript"></script>
  </body>
</html>
